@media screen and (max-width: 768px) {

    .header > ul {
        flex-direction: column;
    }

    .header > ul > li {
        margin-top: .3rem;
    }

    .header > ul > li:last-child.last {
        position: inherit;
    }

}